body {
  background-color: #fffcf7;
}

.container {
  padding-top: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.left-border {
  border-left: 1px solid #cacaca;
}

.select-ingred-row {
  margin: 3%;
  border: 1px solid #cacaca;
  border-radius: 15px;
  min-height: 60px;
  background-color: #fed18c;
}

.header-img {
  text-align: center;
  background-color: #f9e6c5;
  /* box-shadow: rgb(0 0 0 / 9%) 0px 10px 10px; */
  margin-bottom: 25px;
  border-bottom: 2px solid white;
}

.header-img img {
  max-height: 250px;
}

.btn-pantry {
  background-color: #fed18c;
  margin-top: 8px;
}

.showError {
  display: none;
}

.list-group-item {
  width: 100px;
}

.category,
.list-group {
  margin: 10px;
  text-align: center;
}

#top {
  width: 50px;
  height: 50px;
  background-color: #d6efff;
  color: white;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ingredients-inline {
  display: inline;
  margin: 5px;
  cursor: pointer;
}
.ingredients-inline li {
  border: 1px solid #e9e8e6 !important;
  border-radius: 5px !important;
}

.list-group li:hover,
li:focus {
  border: 2px solid;
  background: #d6efff;
  color: black;
}

.list-group-item-success {
  background: #d6efff;
  color: black;
}

#searchRecipes {
  margin-bottom: 8px;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fe654f;
}

.headingSpace {
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe-card {
  width: 45%;
  display: inline;
  min-height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.recipe-card li li:hover,
li:focus {
  border: 1px solid #eeeeee !important;
}
.recipe-card ul {
  list-style-type: none;
  display: flex;
}
.recipe-card img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.recipe-cards {
  min-height: 200px;
}
.recipe-cards:hover {
  box-shadow: rgb(0 0 0 / 9%) 0px 10px 10px;
}

#fetched-recipe {
  padding-left: 0;
  flex-wrap: wrap;
}

#fetched-recipe li {
  margin-left: 15px;
  width: 250px;
  margin-bottom: 15px;
}

.card-title-img {
  display: flex;
  padding: 5px;
}

.logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

#dot1 {
  animation: dot1 2s infinite linear;
}

#dot2 {
  animation: dot2 2s infinite linear;
}

#dot3 {
  animation: dot3 2s infinite linear;
}

@keyframes dot1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading {
  font-size: 150px;
  width: 100%;
  text-align: center;
  display: none;
}
