html {
  height: 100%;
}

body {
  background-color: #fffcf7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  padding-top: 15px;
  margin-top: 15px;
  border-radius: 5px;
  margin-left: 75px;
}

.right-border {
  border-right: 1px solid #cacaca;
}

.select-ingred-row {
  margin: 3%;
  border: 1px solid #cacaca;
  border-radius: 15px;
  min-height: 60px;
  background-color: #fed18c;
}

.header {
  text-align: center;
  background-color: #f9e6c5;
  background-size: contain;
  margin-bottom: 25px;
  border-bottom: 2px solid white;
  height: 250px;
}

.header-img {
  width: 100%;
  height: 100%;
  background-color: rgba(249, 230, 197, 0.75);
}

#pantryImg {
  cursor: pointer;
}

.btn-pantry {
  background-color: #fed18c;
  margin-top: 8px;
}

.showError {
  display: none;
}

.list-group-item {
  width: 120px;
  margin: 5px;
}

.category,
.list-group {
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#top {
  width: 50px;
  height: 50px;
  background-color: #d6efff;
  color: white;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopping-list-items {
  font-size: 16pt;
}

#ingredients-list {
  list-style: none;
  padding: 0px;
  cursor: pointer;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

#ingredients-list li {
  list-style-type: "\2713";
  margin-left: 30px;
  padding-left: 10px;
}

#ingredients-list li:hover {
  list-style-type: "x";
  color: #fe654f;
}

.list-group li {
  border: 1px solid #e9e8e6 !important;
  border-radius: 5px !important;
  cursor: pointer;
}

.list-group li:hover,
li:focus {
  border: 2px solid;
  background: #d6efff;
  color: black;
}

.list-group-item-success {
  background: #d6efff;
  color: #667c58;
}

#searchRecipes {
  margin-bottom: 8px;
}

h4 {
  color: #fe654f;
}

.heading-4 {
  font-size: 1.15em;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ingredient-count {
  text-align: center;
  margin: auto;
  color: #667c58;
  font-size: 0.9em;
}

.headingSpace {
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe-card {
  width: 45%;
  display: inline;
  min-height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.recipe-card li li:hover,
li:focus {
  border: 1px solid #eeeeee !important;
}
.recipe-card ul {
  list-style-type: none;
}
.recipe-card img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-cards {
  min-height: 200px;
}
.recipe-cards:hover {
  box-shadow: rgb(0 0 0 / 9%) 0px 10px 10px;
  background-color: #f1f7ee;
}

.fetched-recipe {
  display: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.fetched-recipe li {
  margin-left: 15px;
  width: 300px;
  margin-bottom: 15px;
}

.card-title-img {
  height: 200px;
}

.logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

.heading-5 {
  color: #667c58;
  text-align: left;
  margin-left: 15px;
}

.img-size {
  width: 100px;
  height: 75px;
  border-radius: 10px;
}

#dot1 {
  animation: dot1 2s infinite linear;
  color: #d6efff;
}

#dot2 {
  animation: dot2 2s infinite linear;
  color: #fe654f;
}

#dot3 {
  animation: dot3 2s infinite linear;
  color: #667c58;
}

@keyframes dot1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130px;
  width: 100%;
  text-align: center;
  display: none;
}

#recipe-sidebar {
  display: none;
  background-color: #f1f7ee;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 500px;
  overflow: auto;
  height: 100%;
  box-shadow: rgb(0 0 0 / 30%) -10px 0px 15px;
}

.sidebar_content {
  padding: 8px;
  overflow-x: hidden;
  color: #667c58;
}

.sidebar_content h3,
.sidebar_content p {
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.sidebar_content h3 {
  padding-top: 10px;
}

#recipe-img {
  max-width: 300px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
#recipe-detail-img {
  max-width: 400px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#name {
  color: #667c58;
  text-align: center;
  font-size: 2em;
}

#close {
  width: 35px;
  height: 35px;
  background-color: #667c58;
  color: #d6efff;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

#close:hover {
  box-shadow: rgb(0 0 0 / 9%) 0px 10px 10px;
  background-color: #fe654f;
}

.card-body {
  padding: 20px;
  cursor: pointer;
}

ul#ingredients-list li {
  color: #667c58;
}

#arrow {
  animation: arrow 1s infinite ease-in-out;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#welcomeBox {
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-title {
  color: #fe654f;
}

.welcome-text {
  color: #667c58;
}

.pagination {
  justify-content: center;
  display: none;
  cursor: pointer;
}

.pagination a,
.pagination a:hover {
  color: #fe654f;
}

#my-pantry {
  display: none;
}

.flex {
  display: flex !important;
}
#ingredients-section,
#instructions-container {
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin-bottom: 25px;
}

#instructions-container ul {
  padding-right: 25px;
}

#instructions li {
  margin-top: 15px;
}

footer {
  background-color: #fe654f;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

footer p {
  margin: 0;
  font-weight: bold;
  color: #fed18c;
}

#copy {
  cursor: pointer;
}

#pot {
  display: block;
}
